[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ee]xports/
[Bb]uild/
[Bb]uilds/
[Rr]ecordings/
UserSettings/
Logs/
UpgradeLog.htm
*.csproj
*.sln
*.sbsar
.vsconfig
.vscode
!Assets/**/*~
.blend1
_ProcessFiles/Blender/MetatalksSpace_02.blend1
